.boxContainer {
    display: flex;
    width: 60%;
    height: 500px;
    /* flex-direction: column-reverse; */
    /* justify-content: space-around; */
    align-items: stretch;
    background: red;
    padding: 30px 0;
}

.box {
    width: 100px;
    height: 200px;
    color: white;
}

.box-1 {
    background: #7a4a91;
}

.box-2 {
    background: black;
}

.box-3 {
    background: #4f3a2b;
}


.navbar {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}