@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0; 
}


.textSection h1 {
    font-size: 50px;
    color: #0866ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: end;
    background: blueviolet;
}

.textSection .firstText {
    font-size: 1.5rem;
    color: red;
    background: blue;
    font-family: "Montserrat", sans-serif;
}

/* .textSection .secondTextContain {
    background: #000;
} */

.textSection .secondText {
    background-color: red;
    width: 60%;
    height: 60%;
    text-align: justify;
    text-decoration: underline;
    padding: 20px;
    border: 10px solid #0866ff;
    margin: 20px 20px 40px 60px;
    /* border-style: solid;
    border-color: #0866ff;
    border-width: 10px; */
    border-radius: 20px;
    /* padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px; */
}

