body {
    margin: 0;
    padding: 0;
    background: #f1f3f6;
}

main {
    width: 80%;
    display: flex;
    gap: 20px;
    margin: 100px auto;
}

.textSection h1 {
    color: #0866ff;
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif;
}

.textSection p {
    font-size: 1.5rem;
    font-family: sans-serif;
}


/* Form section */
.formSection {
    background: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
}

.formSection div {
    padding-bottom: 10px;
}

.formSection input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 1rem;
}

.formSection .log_in {
    width: 100%;
    background: #0866ff;
    color: #fff;
    padding: 10px 0;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.formSection div a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.formSection .newBtn {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: #42b62a;
    border: 0;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
}
